@import "tailwindcss";

@theme {
    --color-*: initial;

    --color-white: #fff;

    --color-deepblue-50:  #e6e9f2;
    --color-deepblue-100: #cdd3e1;
    --color-deepblue-200: #9aa2c4;
    --color-deepblue-300: #6770a6;
    --color-deepblue-400: #344f89;
    --color-deepblue-500: #0d1e4c;
    --color-deepblue-600: #0b1942;
    --color-deepblue-700: #081435;
    --color-deepblue-800: #060e29;
    --color-deepblue-900: #04091d;

    --color-mauverose-50:   #f7ebf1;
    --color-mauverose-100: #efd7e3;
    --color-mauverose-200: #e0afc7;
    --color-mauverose-300: #d187ab;
    --color-mauverose-400: #c48cb3;
    --color-mauverose-500: #a36692;
    --color-mauverose-600: #824f74;
    --color-mauverose-700: #623956;
    --color-mauverose-800: #412438;
    --color-mauverose-900: #210e1b;

    --color-softblush-50:  #fbf4f7;
    --color-softblush-100: #f7e9ef;
    --color-softblush-200: #f0d3df;
    --color-softblush-300: #e9bccf;
    --color-softblush-400: #e5c9d7;
    --color-softblush-500: #d3a0b6;
    --color-softblush-600: #b27896;
    --color-softblush-700: #915f75;
    --color-softblush-800: #713f55;
    --color-softblush-900: #502735;

    --color-blue-50:  #eef4fa;
    --color-blue-100: #dbe5f3;
    --color-blue-200: #b9cbe6;
    --color-blue-300: #97b1da;
    --color-blue-400: #83a6ce;
    --color-blue-500: #6a8ab6;
    --color-blue-600: #506e96;
    --color-blue-700: #3a5373;
    --color-blue-800: #27394f;
    --color-blue-900: #151f2d;

    --color-slate-50: #e6edf5;
    --color-slate-100: #c9d9eb;
    --color-slate-200: #94b0d4;
    --color-slate-300: #6088bc;
    --color-slate-400: #3c6aa2;
    --color-slate-500: #26425e;
    --color-slate-600: #203953;
    --color-slate-700: #1a2f47;
    --color-slate-800: #14253a;
    --color-slate-900: #0e1b2d;

    --color-midnight-50:  #e5eaf0;
    --color-midnight-100: #cbd4e1;
    --color-midnight-200: #97a9c3;
    --color-midnight-300: #647da4;
    --color-midnight-400: #3b5e87;
    --color-midnight-500: #0b1b32;
    --color-midnight-600: #09172b;
    --color-midnight-700: #071324;
    --color-midnight-800: #050f1d;
    --color-midnight-900: #030a16;
}


/* @theme {
    --color-*: initial;
    --color-white: #fff;
    --color-royal: #0d1e4c;
    --color-orchid: #c48cb3;
    --color-rose: #e5c9d7;
    --color-sky: #83a6ce;
    --color-slate: #26415E;
    --color-charcoal: #0b1b32;
  } */